.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flex {
  display: flex;
}

.proj-item .project {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  margin: 15px;
  width: 100%;
}

.ddcont-left {
  width: 45%;
  height: 1300px;
  margin-bottom: 50px;
}

.ddcont-right {
  width: 55%;
  padding-left: 75px;
}

.ddcont-right img {
  width: 100%;
}


.project-container h3,
.project-container h5 {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500;
  
}

.project-container h5 a {
  text-decoration: none;
  color: black;
}

.project-container p {
  margin-top: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
